.coin-row {
  display: flex;
  border-bottom: 1vh solid #588982;
  border-left: 0.5vw solid #588982;
  border-right: 0.5vw solid #588982;
  background-color: #9fd8cb;
}

.coin,
.coin-data {
  display: flex;
  align-items: center;
}

.coin {
  width: 30vw;
}

.coin-data {
  width: 60vw;
}

.coin-image {
  flex: 1;
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.coin-name,
.coin-symbol,
.coin-price,
.coin-price,
.coin-percent,
.coin-volume,
.coin-marketcap {
  flex: 1;
  font-family: "RobotoCondensed-Regular";
  color: #23282e;
  font-size: 2.5vh;
}

.coin-symbol {
  text-transform: uppercase;
}

.red {
  color: #ff0000;
}
.green {
  color: #008000;
}
