@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(./assets/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(./assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url(./assets/fonts/RobotoCondensed-Light.ttf);
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-text {
  font-family: "RobotoCondensed-Bold";
  color: #23282e;
  font-size: 6vh;
  text-align: center;
}

.coin-source {
  font-family: "RobotoCondensed-Light";
  color: #23282e;
  font-size: 3vh;
  text-align: center;
  transform: translate(0vh, -5vh);
}

.coin-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  border: 0.75vh solid #588982;
  border-radius: 2.25vh;
  background-color: #588982;
  transform: translate(0vh, -5vh);
}

.coin-input {
  height: 5vh;
  width: 20vw;
  border: 0.75vh solid #588982;
  border-radius: 1.5vh;
  background-color: #9fd8cb;
  font-family: "RobotoCondensed-Regular";
  color: #23282e;
  font-size: 3vh;
  padding-left: 0.75vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.coin-results {
  width: 90vw;
}
