@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(./assets/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(./assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url(./assets/fonts/RobotoCondensed-Light.ttf);
}

.coin-text {
  font-family: "RobotoCondensed-Bold";
  color: #23282e;
  font-size: 6vh;
  text-align: center;
}

.coin-source {
  font-family: "RobotoCondensed-Light";
  color: #23282e;
  font-size: 3vh;
  text-align: center;
}
