@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(./assets/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(./assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url(./assets/fonts/RobotoCondensed-Light.ttf);
}

.coin-row {
  display: flex;
  justify-content: space-evenly;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  border-bottom: 1vh solid #588982;
  border-left: 0.75vh solid #588982;
  border-right: 0.75vh solid #588982;
  background-color: #9fd8cb;
}

.coin {
  display: flex;
  align-items: center;
  width: 30vw;
}

.coin-image {
  height: 50px;
  width: 50px;
}

.coin-name {
  flex: 1;
  font-family: "RobotoCondensed-Regular";
  color: #23282e;
  font-size: 2.5vh;
  text-align: center;
}

.coin-symbol {
  flex: 1;
  font-family: "RobotoCondensed-Bold";
  color: #23282e;
  font-size: 2.5vh;
  text-align: center;
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  align-items: center;
  width: 60vw;
}

.coin-price {
  flex: 1;
  font-family: "RobotoCondensed-Regular";
  color: #23282e;
  font-size: 2.5vh;
  text-align: center;
}

.coin-percent {
  flex: 1;
  font-family: "RobotoCondensed-Regular";
  font-size: 2.5vh;
  text-align: center;
}
.red {
  color: #ff0000;
}
.green {
  color: #008000;
}

.coin-volume {
  flex: 1;
  font-family: "RobotoCondensed-Regular";
  color: #23282e;
  font-size: 2.5vh;
  text-align: center;
}

.coin-marketcap {
  flex: 1;
  font-family: "RobotoCondensed-Regular";
  color: #23282e;
  font-size: 2.5vh;
  text-align: center;
}
